<div class="col-lg-offset-2">
    <h1> Over {{ctrlHorse.selectedHorse}}</h1>
</div>
<br>
<form class="form-horizontal" role="form" name=registerForm ng-submit="ctrlHorse.registerHorse()">
    <div class="form-group">
        <label for="naam" class="col-sm-2 control-label">Naam</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" id="naam" placeholder="Naam" required="required"
                   maxlength="30" ng-model=ctrlHorse.voornaam>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Afstamming</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="Afstamming" ng-model=ctrlHorse.Afstamming>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Geslacht </label>
        <div class="col-sm-8">
            <select id="geslachtselect" name="geslachtselect" class="form-control" ng-model=ctrlHorse.geslacht>
                <option value="Merry" selected="selected">Merry</option>
                <option value="Hengst">Hengst</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="Geboortedatum" class="col-sm-2 control-label">Geboortedatum</label>

        <div class="col-sm-8">
            <input type="date" class="form-control" id="Geboortedatum" required="required"
                   ng-model=ctrlHorse.geboortedatum>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Karakter paard</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="overKarakter" ng-model=ctrlHorse.karakter>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Sporten: </label>
        <div class="col-sm-8"
             style="padding-left: 15px; padding-bottom: 15px; padding-top: 5px; font-size: medium ">
            <input type="checkbox" id="Springen" ng-model=ctrlHorse.springen> Springen
            <input type="checkbox" id="Dressuur" ng-model=ctrlHorse.dressuur> Dressuur
            <input type="checkbox" id="Eventing" ng-model=ctrlHorse.eventing> Eventing
            <input type="checkbox" id="Mennen" ng-model=ctrlHorse.mennen> Mennen
            <input type="checkbox" id="Voltige" ng-model=ctrlHorse.voltige> Voltige
            <input type="checkbox" id="Western" ng-model=ctrlHorse.western> Western
            <input type="checkbox" id="Showrijden" ng-model=ctrlHorse.showrijden> Showrijden
            <input type="checkbox" id="Fokken" ng-model=ctrlHorse.newMember.fokken> Fokken
            <input type="checkbox" id="Natural_horsemanship" ng-model=ctrlHorse.naturalHorsemanship> Natural
            Horsemanship
            <input type="checkbox" id="Polo" ng-model=ctrlHorse.polo> Polo
        </div>
    </div>
    <div class="form-group" ng-show="ctrlHorse.springen">
        <label for="Spring_klasse" class="col-sm-2 control-label">Spring Klasse</label>
        <div class="col-sm-8">
            <select id="Spring_klasse" class="form-control" ng-model=ctrlHorse.sportKlasseSpringen>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlHorse.dressuur">
        <label for="Dressuur_klasse" class="col-sm-2 control-label">Dressuur Klasse</label>
        <div class="col-sm-8">
            <select id="Dressuur_klasse" class="form-control" ng-model=ctrlHorse.sportKlasseEventing>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlHorse.eventing">
        <label for="Eventing_klasse" class="col-sm-2 control-label">Eventing Klasse</label>
        <div class="col-sm-8">
            <select id="Eventing_klasse" class="form-control" ng-model=ctrlHorse.sportKlasseDressuur>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlHorse.mennen">
        <label for="Mennen_klasse" class="col-sm-2 control-label">Mennen Klasse</label>
        <div class="col-sm-8">
            <select id="Mennen_klasse" class="form-control" ng-model=ctrlHorse.sportKlasseMennen>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlHorse.voltige">
        <label for="Voltige_klasse" class="col-sm-2 control-label">Voltige Klasse</label>
        <div class="col-sm-8">
            <select id="Voltige_klasse" class="form-control" ng-model=ctrlHorse.sportKlasseVoltige>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlHorse.western">
        <label for="Western_klasse" class="col-sm-2 control-label">Western Klasse</label>
        <div class="col-sm-8">
            <select id="Western_klasse" class="form-control" ng-model=ctrlHorse.sportKlasseWestern>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlHorse.showrijden">
        <label for="Showrijden_klasse" class="col-sm-2 control-label">Showrijden Klasse</label>
        <div class="col-sm-8">
            <select id="Showrijden_klasse" class="form-control" ng-model=ctrlHorse.sportKlasseShowrijden>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlHorse.naturalHorsemanship">
        <label for="NaturalHorsemanShip_klasse" class="col-sm-2 control-label">NaturalHorsemanship Klasse</label>
        <div class="col-sm-8">
            <select id="NaturalHorsemanShip_klasse" class="form-control"
                    ng-model=ctrlHorse.sportKlasseNaturalHorsemanShip>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlHorse.polo">
        <label for="Polo_klasse" class="col-sm-2 control-label">Polo Klasse</label>
        <div class="col-sm-8">
            <select id="Polo_klasse" class="form-control" ng-model=ctrlHorse.sportKlassePolo>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="Profielfoto" class="col-sm-2 control-label">Profielfoto (vierkant)</label>
        <div class="col-sm-8">
            <input type="file" id="Profielfoto" class="form-control">
            <br>
            <img id=profilepicture class="img-responsive"
                 src="app\CSS and content\Pictures\Basic profile pic\horse\base_profile_pic.jpg" alt=""
                 style="height:150px; width:150px"/>
        </div>
    </div>
    <div class="form-group">
        <label for="Profielfoto" class="col-sm-2 control-label">Vul vast een paspoort in</label>
        <div class="col-sm-8">
            <br>
            <img id=paspoort class="img-responsive"
                 src="app\CSS and content\Pictures\Paspoort/paspoort.jpg" alt=""
                 style="height:150px; width:150px" ng-click = "ctrlHorse.setpassport()">
        </div>
    </div>
    <div class="form-group" ng-show="!ctrlHorse.showSuccessRegistration">
        <div class="col-sm-offset-2 col-sm-8">
            <button class="btn btn-primary ladda-button" ladda="ctrlHorse.submitting" data-style="expand-right"
                    type="submit">
                <span class="ladda-label" ng-show="!ctrlHorse.submitting">Update paard</span>
                <span class="ladda-label" ng-show="ctrlHorse.submitting">Bezig met vastleggen</span>
            </button>
        </div>
    </div>
</form>
<div id="alert handling">
    <h2 class=" success" align="center" data-ng-show="ctrlHorse.showSuccessRegistration"> Je paard
        is aangemeld! </h2>
    <h2 class="error" align="center" data-ng-show="ctrlHorse.showFailureRegistration"> Oeps, dat werkte
        niet probeer het nog eens! </h2>
</div>