<div class="col-lg-offset-2">
    <h1> Over {{ctrlHorse.selectedHorse}}</h1>
</div>
<br>
<form class="form-horizontal" role="form" name=registerFormHorse
      ng-submit="registerFormHorse.$valid && ctrlHorse.registerHorse()">

    <div class="form-group"
         ng-class="{ 'has-error' : registerFormHorse.naam.$invalid && registerFormHorse.naam.$touched}">
        <label for="naam" class="col-sm-2 control-label">Naam</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="naam" name="naam" placeholder="Naam" required="required"
                   maxlength="30" ng-model=ctrlHorse.voornaam
                   ng-pattern="ctrlHorse.shortnamepattern">
            <span class=" help-block"
                  ng-show="registerFormHorse.naam.$touched && registerFormHorse.naam.$error.required">Naam van je paard is verplicht</span>
            <span class="help-block" ng-show="registerFormHorse.naam.$dirty && registerFormHorse.naam.$error.pattern">2-20 aaneengesloten letters, cijfers, -_.</span>
        </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error' : registerFormHorse.afstamming.$invalid && registerFormHorse.afstamming.$touched}">
        <label class="col-sm-2 control-label">Afstamming</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="afstamming" name="afstamming" ng-model=ctrlHorse.Afstamming
                   maxlength="60" placeholder="Afstamming">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Geslacht </label>
        <div class="col-sm-8">
            <select id="geslachtselect" name="geslachtselect" class="form-control" ng-model=ctrlHorse.geslacht
                    ng-required>
                <option value="Merry" selected="selected">Merry</option>
                <option value="Hengst">Hengst</option>
            </select>
        </div>
    </div>
    <div class="form-group"
        ng-class="{ 'has-error' : registerFormHorse.Geboortedatum.$invalid && registerFormHorse.Geboortedatum.$touched}">
        <label for="Geboortedatum" class="col-sm-2 control-label">Geboortedatum</label>
        <div class="col-sm-8">
            <input type="date" class="form-control" id="Geboortedatum" name="Geboortedatum" required="required"
                   ng-model=ctrlHorse.geboortedatum
                   ng-pattern="ctrlHorse.geboortedatumvalidatiepattern"
                   ng-required="true">
            <span class="help-block"
                  ng-show="registerFormHorse.Geboortedatum.$touched && registerFormHorse.Geboortedatum.$invalid">ongeldige datum</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Karakter paard</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="overKarakter" ng-model=ctrlHorse.karakter>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Sporten: </label>
        <div class="col-sm-8"
             style="padding-left: 15px; padding-bottom: 15px; padding-top: 5px; font-size: medium ">
            <input type="checkbox" id="Springen" ng-model=ctrlHorse.springen> Springen
            <input type="checkbox" id="Dressuur" ng-model=ctrlHorse.dressuur> Dressuur
            <input type="checkbox" id="Eventing" ng-model=ctrlHorse.eventing> Eventing
            <input type="checkbox" id="Mennen" ng-model=ctrlHorse.mennen> Mennen
            <input type="checkbox" id="Voltige" ng-model=ctrlHorse.voltige> Voltige
            <input type="checkbox" id="Western" ng-model=ctrlHorse.western> Western
            <input type="checkbox" id="Showrijden" ng-model=ctrlHorse.showrijden> Showrijden
            <input type="checkbox" id="Fokken" ng-model=ctrlHorse.newMember.fokken> Fokken
            <input type="checkbox" id="Natural_horsemanship" ng-model=ctrlHorse.naturalHorsemanship> Natural
            Horsemanship
            <input type="checkbox" id="Polo" ng-model=ctrlHorse.polo> Polo
            <input type="checkbox" id="Fokken" ng-model=ctrlHorse.newMember.fokken> Fokken
            <input type="checkbox" id="Polo" ng-model=ctrlHorse.newMember.polo> Polo
            <input type="checkbox" id="Endurance" ng-model=ctrlHorse.newMember.endurance> Endurance
            <input type="checkbox" id="Rensport" ng-model=ctrlHorse.newMember.rensport> Rensport
            <input type="checkbox" id="Drafsport" ng-model=ctrlHorse.newMember.drafsport> Drafsport
            <input type="checkbox" id="Ringsteken" ng-model=ctrlHorse.newMember.ringsteken> Ringsteken
            <input type="checkbox" id="Rodeo" ng-model=ctrlHorse.newMember.rodeo> Rodeo
            <input type="checkbox" id="Vossenjacht" ng-model=ctrlHorse.newMember.vossenjacht> Vossenjacht
        </div>
    </div>
    <div class="form-group" ng-show="ctrlHorse.springen"
         ng-class="{'has-error' : registerFormHorse.Spring_klasse.$invalid && registerFormHorse.$submitted}">
        <label for="Spring_klasse" class="col-sm-2 control-label">Spring Klasse</label>
        <div class="col-sm-8">
            <select id="Spring_klasse" name=Spring_klasse" class="form-control" ng-model=ctrlHorse.sportKlasseSpringen
                    ng-required="ctrlHorse.springen">
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
            <span class="help-block" ng-show="registerFormHorse.$submitted && registerFormHorse.Spring_klasse.$invalid">Vul je niveau in</span>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlHorse.dressuur"
         ng-class="{'has-error' : registerFormHorse.Dressuur_klasse.$invalid && registerFormHorse.$submitted}">
        <label for="Dressuur_klasse" class="col-sm-2 control-label">Dressuur Klasse</label>
        <div class="col-sm-8">
            <select id="Dressuur_klasse" name="Dressuur_klasse" class="form-control"
                    ng-model=ctrlHorse.sportKlasseEventing ng-required="ctrlHorse.dressuur">
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
            <span class="help-block"
                  ng-show="registerFormHorse.$submitted && registerFormHorse.Dressuur_klasse.$invalid">Vul je niveau in</span>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlHorse.eventing"
         ng-class="{'has-error' : registerFormHorse.Eventing_klasse.$invalid && registerFormHorse.$submitted}">
        <label for="Eventing_klasse" class="col-sm-2 control-label">Eventing Klasse</label>
        <div class="col-sm-8">
            <select id="Eventing_klasse" name="Eventing_klasse" class="form-control"
                    ng-model=ctrlHorse.sportKlasseDressuur ng-required="ctrlHorse.eventing">
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
            <span class="help-block"
                  ng-show="registerFormHorse.$submitted && registerFormHorse.Eventing_klasse.$invalid">Vul je niveau in</span>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlHorse.mennen"
         ng-class="{'has-error' : registerFormHorse.Mennen_klasse.$invalid && registerFormHorse.$submitted}">
        <label for="Mennen_klasse" class="col-sm-2 control-label">Mennen Klasse</label>
        <div class="col-sm-8">
            <select id="Mennen_klasse" name="Mennem_klasse" class="form-control" ng-model=ctrlHorse.sportKlasseMennen
                    ng-required="ctrlHorse.mennen">
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
            <span class="help-block" ng-show="registerFormHorse.$submitted && registerFormHorse.Mennen_klasse.$invalid">Vul je niveau in</span>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlHorse.voltige"
         ng-class="{'has-error' : registerFormHorse.Voltige_klasse.$invalid && registerFormHorse.$submitted}">
        <label for="Voltige_klasse" name="Voltige_klasse" class="col-sm-2 control-label">Voltige Klasse</label>
        <div class="col-sm-8">
            <select id="Voltige_klasse" class="form-control" ng-model=ctrlHorse.sportKlasseVoltige
                    ng-required="ctrlHorse.voltige">
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
            <span class="help-block"
                  ng-show="registerFormHorse.$submitted && registerFormHorse.Voltige_klasse.$invalid">Vul je niveau in</span>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label for="Profielfoto" class="col-sm-2 control-label">Profielfoto (vierkant)</label>
            <div class="col-sm-4">
                <input type="file" id="Profielfoto" class="form-control">
                <br>
                <img id=profilepicture class="img-responsive"
                     src="app\CSS and content\Pictures\Basic profile pic\horse\base_profile_pic.jpg" alt=""
                     style="height:150px; width:150px; float:left" ALIGN=LEFT/>
            </div>
            </div>
        <div class="form-group">
            <div class="col-sm-4 col-lg-offset-4">
                <input type="button" value="Maak vast een paspoort aan!" class="btn btn-default" id="paspoortbutton"
                       class="form-control" style="float:right">
                <br>
                <br>
                <br>
                <img id=paspoort class="img-responsive"
                     src="app\CSS and content\Pictures\Paspoort/paspoort.jpg" alt=""
                     style="height:150px; width:150px" ng-click="ctrlHorse.setpassport()" ALIGN=RIGHT>
            </div>
            </div>
        </div>
    </div>
    <!--<div class="form-group">-->
    <!---->
    <!--</div>-->
    <div class="form-group">
        <label for="waarde" class="col-sm-2 control-label">Waarde</label>
        <div class="col-sm-8">
            <select id="waarde" class="form-control" ng-options="waarde for waarde in ctrlHorse.waardeklasse"
                    ng-model="ctrlHorse.waarde">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="transfer" class="col-sm-2 control-label">Transfer</label>
        <div class="col-sm-8">
            <select id="transfer" class="form-control" ng-options="transfer for transfer in ctrlHorse.transfer"
                    ng-model="ctrlHorse.tranfer">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="!ctrlHorse.showSuccessRegistration">
        <div class="col-sm-offset-2 col-sm-8">
            <button class="btn btn-primary ladda-button" ladda="ctrlHorse.submitting" data-style="expand-right"
                    type="submit">
                <span class="ladda-label" ng-show="!ctrlHorse.submitting">Update paard</span>
                <span class="ladda-label" ng-show="ctrlHorse.submitting">Bezig met vastleggen</span>
            </button>
        </div>
    </div>
</form>
<div id="alert handling">
    <h2 class=" success" align="center" data-ng-show="ctrlHorse.showSuccessRegistration"> Je paard
        is aangemeld! </h2>
    <h2 class="error" align="center" data-ng-show="ctrlHorse.showFailureRegistration"> Oeps, dat werkte
        niet probeer het nog eens! </h2>
</div>