
<div class="col-lg-offset-2">
    <h1> Over {{ctrlHorse.selectedHorse}}</h1>
</div>
<br>
<form class="form-horizontal" role="form" name=registerForm ng-submit="ctrlHorse.registerHorse()">
    <div class="form-group">
        <label for="naam" class="col-sm-2 control-label">Naam</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" id="naam" placeholder="Naam" required="required"
                   maxlength="30" ng-model=ctrlHorse.voornaam>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Geslacht </label>
        <select  class="selectpicker" ng-model=ctrlHorse.geslacht>
            <option value="Merry" selected>Merry</option>
            <option value="Hengst">Hengst</option>
            </select>
    </div>
    <div class="form-group">
        <label for="Geboortedatum" class="col-sm-2 control-label">Geboortedatum</label>

        <div class="col-sm-8">
            <input type="date" class="form-control" id="Geboortedatum" required="required"
                   ng-model=ctrlHorse.geboortedatum>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Karakter paard</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="overKarakter" ng-model=ctrlHorse.karakter>
        </div>
    </div>
   <div class="form-group">
    <label class="col-sm-2 control-label">Sporten: </label>
    <div class="col-sm-8"
         style="padding-left: 15px; padding-bottom: 15px; padding-top: 5px; font-size: medium ">
        <input type="checkbox" id="Springen" ng-model=ctrlHorse.springen> Springen
        <input type="checkbox" id="Dressuur" ng-model=ctrlHorse.dressuur> Dressuur
        <input type="checkbox" id="Eventing" ng-model=ctrlHorse.eventing> Eventing
        <input type="checkbox" id="Mennen" ng-model=ctrlHorse.mennen> Mennen
        <input type="checkbox" id="Voltige" ng-model=ctrlHorse.voltige> Voltige
        <input type="checkbox" id="Western" ng-model=ctrlHorse.western> Western
        <input type="checkbox" id="Showrijden" ng-model=ctrlHorse.showrijden> Showrijden
        <input type="checkbox" id="Fokken" ng-model=ctrlHorse.newMember.fokken> Fokken
        <input type="checkbox" id="Natural_horsemanship" ng-model=ctrlHorse.naturalHorsemanship> Natural
        Horsemanship
        <input type="checkbox" id="Polo" ng-model=ctrlHorse.polo> Polo
    </div>
    </div>
        <div class="form-group">
        <label for="Sport_klasse" class="col-sm-2 control-label">Klasse</label>
        <div class="col-sm-8">
            <select id="Sport_klasse" class="form-control" ng-model=ctrlHorse.sportKlasse>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="Profielfoto" class="col-sm-2 control-label">Profielfoto (vierkant)</label>

        <div class="col-sm-8">
            <input type="file" id="Profielfoto" class="form-control">
            <br>
            <img id=profilepicture class="img-responsive"
                 src="app\CSS and content\Pictures\Basic profile pic\base_profile_pic.jpg"
                 alt=""
                 style="height:150px; width:150px"/>
        </div>
    </div>
  <div class="form-group" ng-show="!ctrlHorse.showSuccessRegistration">
        <div class="col-sm-offset-2 col-sm-8">
            <button class="btn btn-primary ladda-button" ladda="ctrlHorse.submitting" data-style="expand-right" type="submit">
                <span class="ladda-label" ng-show="!ctrlHorse.submitting">Meld je aan</span>
                <span class="ladda-label" ng-show="ctrlHorse.submitting">Bezig met aanmelden</span>
            </button>
        </div>
    </div>
</form>
<div id="alert handling">
    <h2 class=" success" align="center" data-ng-show="ctrlHorse.showSuccessRegistration"> Je hebt je succesvol
        aangemeld! </h2>
    <h2 class="error" align="center" data-ng-show="ctrlHorse.showFailureRegistration"> Oeps, dat werkte
        niet probeer het nog eens! </h2>
</div>