<link href="app/CSS%20and%20content/styles.css" rel="stylesheet" type="text/css"/>

    <div class="col-lg-offset-2">
        <h1> Paardenvriend in 3 minuten </h1>
    </div>
    <br>
    <form class="form-horizontal" role="form" name=registerForm ng-submit="ctrlReg.registerMember()">
        <div class="form-group">
            <label for="Voornaam" class="col-sm-2 control-label">Voornaam</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="Voornaam" placeholder="Voornaam" required="required"
                       maxlength="30" ng-model=ctrlReg.newMember.voornaam>
            </div>
        </div>
        <div class="form-group">
            <label for="Achternaam" class="col-sm-2 control-label">Achternaam</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="Achternaam" placeholder="Achternaam" required="required"
                       maxlength="30" ng-model=ctrlReg.newMember.achternaam>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-8">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" required="required"
                       maxlength="40" ng-model=ctrlReg.newMember.inputemail13>
            </div>
        </div>
        <div class="form-group">
            <label for="Geboortedatum" class="col-sm-2 control-label">Geboortedatum</label>

            <div class="col-sm-8">
                <input type="date" class="form-control" id="Geboortedatum" required="required"
                       ng-model=ctrlReg.newMember.geboortedatum>
            </div>
        </div>
        <div class="form-group">
            <label for="plaatsnamen" class="col-sm-2 control-label">Woonplaats</label>

            <div class="col-sm-8">
                <!-- <input type="text" class="form-control" id="Woonplaats" required="required" placeholder="Woonplaats" maxlength="30"> -->
                <select id="plaatsnamen" class="form-control" ng-model=ctrlReg.newMember.plaatsnamen>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="Sport_klasse" class="col-sm-2 control-label">Klasse</label>

            <div class="col-sm-8">
                <select id="Sport_klasse" class="form-control" ng-model=ctrlReg.newMember.sportKlasse>
                    <option>Recreatief</option>
                    <option>B</option>
                    <option>L</option>
                    <option>M</option>
                    <option>Z</option>
                    <option>ZZ</option>
                    <option>Nationaal</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Over mij</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="overMij" ng-model=ctrlReg.newMember.overMij>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Mijn paarden</label>

            <div class="col-sm-8">
                <div class="divScroll">
                    <input type="text" class="form-control" name="Paard_1" placeholder="Naam van eerste paard"
                           maxlength="30"
                           ng-model=ctrlReg.newMember.paard1>
                    <input type="text" class="form-control" name="Paard_2" placeholder="Naam van tweede paard"
                           maxlength="30"
                           ng-model=ctrlReg.newMember.paard2>
                    <input ng-show="registerForm.Paard_2.$touched" type="text" class="form-control"
                           name="Paard_3" placeholder="Naam van je paard" maxlength="30"
                           ng-model=ctrlReg.newMember.paard3>
                    <input ng-show="registerForm.Paard_3.$touched" type="text" class="form-control"
                           name="Paard_4" placeholder="Naam van je paard" maxlength="30"
                           ng-model=ctrlReg.newMember.paard4 data-ng-show="ctrlReg.moreHorses2">
                    <input ng-show="registerForm.Paard_4.$touched" type="text" class="form-control"
                           name="Paard_5" placeholder="Naam van je paard" maxlength="30"
                           ng-model=ctrlReg.newMember.paard5>
                    <input ng-show="registerForm.Paard_5.$touched" type="text" class="form-control"
                           name="Paard_6" placeholder="Naam van je paard" maxlength="30"
                           ng-model=ctrlReg.newMember.paard6>
                    <input ng-show="registerForm.Paard_6.$touched" type="text" class="form-control"
                           name="Paard_7" placeholder="Naam van je paard" maxlength="30"
                           ng-model=ctrlReg.newMember.paard7>
                    <input ng-show="registerForm.Paard_7.$touched" type="text" class="form-control"
                           name="Paard_8" placeholder="Naam van je paard" maxlength="30"
                           ng-model=ctrlReg.newMember.paard8>
                    <input ng-show="registerForm.Paard_8.$touched" type="text" class="form-control"
                           name="Paard_9" placeholder="Naam van je paard" maxlength="30"
                           ng-model=ctrlReg.newMember.paard9>
                    <input ng-show="registerForm.Paard_9.$touched" type="text" class="form-control"
                           name="Paard_10" placeholder="Naam van sje paard" maxlength="30"
                           ng-model=ctrlReg.newMember.paard10>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Sporten: </label>
            <div class="col-sm-8"
                 style="padding-left: 15px; padding-bottom: 15px; padding-top: 5px; font-size: medium ">
                <input type="checkbox" id="Springen" ng-model=ctrlReg.newMember.springen> Springen
                <input type="checkbox" id="Dressuur" ng-model=ctrlReg.newMember.dressuur> Dressuur
                <input type="checkbox" id="Eventing" ng-model=ctrlReg.newMember.eventing> Eventing
                <input type="checkbox" id="Mennen" ng-model=ctrlReg.newMember.mennen> Mennen
                <input type="checkbox" id="Voltige" ng-model=ctrlReg.newMember.voltige> Voltige
                <input type="checkbox" id="Western" ng-model=ctrlReg.newMember.western> Western
                <input type="checkbox" id="Showrijden" ng-model=ctrlReg.newMember.showrijden> Showrijden
                <input type="checkbox" id="Fokken" ng-model=ctrlReg.newMember.fokken> Fokken
                <input type="checkbox" id="Natural_horsemanship" ng-model=ctrlReg.newMember.naturalHorsemanship> Natural
                Horsemanship
                <input type="checkbox" id="Polo" ng-model=ctrlReg.newMember.polo> Polo
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Geinteresseerd in: </label>
            <div class="col-sm-8"
                 style="padding-left: 15px; padding-bottom: 15px; padding-top: 5px; font-size: medium ">
                <input type="checkbox" id="samen_trainen" ng-model=ctrlReg.newMember.samenTrainen> Samen trainen
                <input type="checkbox" id="rijden_locatie" ng-model=ctrlReg.newMember.rijdenLocatie> Samen rijden op
                andere
                locatie
                <input type="checkbox" id="in_en_verkoop" ng-model=ctrlReg.newMember.inEnVerkoop> Verkoop of inkoop van
                paarden
                <input type="checkbox" id="Voorlichting" ng-model=ctrlReg.newMember.voorlichting> Voorlichten begeleiden
                ruiters
                <input type="checkbox" id="paarden_trainen" ng-model=ctrlReg.newMember.paardenTrainen> Paarden trainen
                <input type="checkbox" id="paarden_verzorgen" ng-model=ctrlReg.newMember.paardenVerzorgen> Paarden
                verzorgen
                <input type="checkbox" id="voeding_gezondheid" ng-model=ctrlReg.newMember.voedingGezondheid> Voeding en
                gezondheid
            </div>
        </div>

        <div class="form-group">
            <label for="Profielfoto" class="col-sm-2 control-label">Profielfoto (vierkant)</label>

            <div class="col-sm-8">
                <input type="file" id="Profielfoto" class="form-control">
                <br>
                <img id=profilepicture class="img-responsive"
                     src="app\CSS and content\Pictures\Basic profile pic\base_profile_pic.jpg"
                     alt=""
                     style="height:150px; width:150px"/>
            </div>
        </div>
        <div class="form-group">
            <label for="Password" class="col-sm-2 control-label">Paswoord</label>

            <div class="col-sm-8">
                <input type="password" class="form-control" id="Password" placeholder="Password" required="required"
                       maxlength="25" ng-model=ctrlReg.newMember.password>
            </div>
        </div>
        <div class="form-group">
            <label for="ConfirmPassword" class="col-sm-2 control-label">Confirm </label>

            <div class="col-sm-8">
                <input type="password" class="form-control" id="ConfirmPassword" placeholder="Bevestig Password"
                       required="required" maxlength="25">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button class="btn btn-info" ladda="!ctrlReg.submitting" data-style="expand-right" type="submit">
                    <span ng-show="ctrlReg.submitting">Meld je aan</span>
                    <span ng-show="ctrlReg.submitting">Bezig met aanmelden</span>
                </button>
            </div>
        </div>
    </form>
    <div>
        <h2 class=" success" align="center" data-ng-show="ctrlReg.showSuccessRegistration"> Je hebt je succesvol
            aangemeld! </h2>
        <h2 class="error" align="center" data-ng-show="ctrlReg.showFailureRegistration"> Oeps, dat werkte
            niet probeer het nog eens! </h2>
    </div>

<!-- Script needed for plaatsnamen functie :) -->
<script src="app/Components/components/plaatsnamen_functie.js" type="text/javascript"></script>