<div class="container-fluid">
    <div class="row">
        <a href="#/timeline">
            <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color: #bababa" align="center">
                <h3 class="headingbeauty">
                    <i class="fa fa-forumbee"></i>
                    Timeline NL</h3>
                <img class="img-responsive" src="app/CSS%20and%20content/Pictures/new_home/Sprong_350_400.png"
                     alt="Tweet here" align="center"/>
            </div>
        </a>
        <a href="#/memberpage">
            <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color:#c6c6c6" align="center">
                <h3 class="headingbeauty">
                    <i class="fa fa-heartbeat"></i>
                    Jouw boek</h3>
                <img class="img-responsive" src="app/CSS%20and%20content/Pictures/new_home/running_350_400.png"
                     alt="Timeline" align="center"/>
            </div>
        </a>
    </div>
    <div class="row">
        <a href="#/paarden">
            <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color:#c6c6c6" align="center">
                <h3 class="headingbeauty">
                    <i class="fa fa-users"></i>
                    Paarden</h3>
                <img class="img-responsive" src="app/CSS%20and%20content/Pictures/new_home/horse%20350_400.png"
                     alt="Paarden here" align="center"/>
            </div>
        </a>
        <a href="#/ruiters">
            <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color:#bababa" align="center">
                <h3 class="headingbeauty">
                    <i class="fa fa-users"></i>
                    Ruiters </h3>
                <img class="img-responsive" src="app/CSS%20and%20content/Pictures/new_home/ruiter_350_400.png"
                     alt="Ruiters here" align="center"/>
            </div>
        </a>
    </div>
</div>

