<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color: #519033">
            <h2 class="headingbeauty">
                <i class="fa fa-forumbee"></i>
                Horse Tweet</h2>
            <img class="img-responsive" src="app/CSS%20and%20content/Pictures/new_home/horses_1.jpg" alt="Tweet here"/>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color:#468138">
            <h2 class="headingbeauty">
                <i class="fa fa-heartbeat"></i>
                Timeline</h2>
            <img class="img-responsive" src="app/CSS%20and%20content/Pictures/new_home/horses_2.jpg"
                 alt="Timeline"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color:#468138">
            <h2 class="headingbeauty">
                <i class="fa fa-users"></i>
                Paarden en ruiters</h2>
            <img class="img-responsive" src="app/CSS%20and%20content/Pictures/new_home/horses_2.jpg"
                 alt="Paarden & ruiters here"/>

        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color:#519033">
            <h2 class="headingbeauty">
                <i class="fa fa-comments"></i>
                Forum </h2>
            <img class="img-responsive" src="app/CSS%20and%20content/Pictures/new_home/horses_2.jpg"
                 alt="Forum"/>
        </div>
    </div>
</div>

