<!-- Specific view for Members for  memberOverviewDirective-->

<table class="table table-striped" width="80%">

    <th scope="col" title="Voornaam">Voornaam</th>
    <th scope="col" title="Achternaam">Achternaam</th>
    <th scope="col" title="Update">Update</th>
    <th scope="col" title="Link to pic">Link to pic</th>

    <tr ng-repeat="ruiter in ruiters">
        <td> Rik></td>
        <td> van Battum></td>
        <td> heeft een nieuw paard toegevoegd></td>
        <td> foto 1</td>
    </tr>
    </thead>
</table>
