<!-- Specific view for Members for  memberOverviewDirective-->

<table class="table table-striped" width="80%">

    <th scope="col" title="Voornaam">Voornaam</th>
    <th scope="col" title="Achternaam">Achternaam</th>
    <th scope="col" title="Plaats">Plaats</th>
    <th scope="col" title="Paard">Paard</th>
    <th scope="col" title="Paard">Paard</th>
    <th scope="col" title="Paard">Paard</th>

    <tr ng-repeat="ruiter in ruiters">
        <td ng-bind="ruiter.voornaam"></td>
        <td ng-bind="ruiter.achternaam"></td>
        <td ng-bind="ruiter.plaats"></td>
        <td ng-bind="ruiter.paard1"></td>
        <td ng-bind="ruiter.paard2"></td>
        <td ng-bind="ruiter.paard3"></td>
    </tr>
    </thead>
</table>
