<div class="col-lg-offset-2">
    <h1> Paardenvriend in 3 minuten </h1>
</div>
<br>
<form class="form-horizontal" role="form" name=registerForm id="registerForm"
      ng-submit="ctrlReg.registerMember()">
    <div class="form-group"
         ng-class="{ 'has-error' : registerForm.Voornaam.$invalid && registerForm.Voornaam.$touched}">
        <label for="Voornaam" class="col-sm-2 control-label">Voornaam</label>
        <div class="col-sm-8">
            <div class="controls">
                <input type="text" class="form-control" id="Voornaam" name="Voornaam" placeholder="Voornaam"
                       maxlength="20" ng-model=ctrlReg.newMember.voornaam ng-required="true"
                       ng-pattern="/^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$/">
                <span class="help-block"
                      ng-show="registerForm.Voornaam.$touched && registerForm.Voornaam.$error.required">Je voornaam is verplicht</span>
                <span class="help-block" ng-show="registerForm.Voornaam.$dirty && registerForm.Voornaam.$error.pattern">Je voornaam moet 2-20 letters zijn</span>
            </div>
        </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error' : registerForm.Achternaam.$invalid && registerForm.Achternaam.$touched}">
        <label for="Achternaam" class="col-sm-2 control-label">Achternaam</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="Achternaam" name="Achternaam" placeholder="Achternaam"
                   maxlength="30" ng-model=ctrlReg.newMember.achternaam ng-required="true"
                   ng-pattern="/^[a-zA-Z][a-zA-Z0-9-_\.\s]{1,30}$/">
            <span class="help-block"
                  ng-show="registerForm.Achternaam.$touched && registerForm.Achternaam.$error.required">Je achternaam is verplicht</span>
            <span class="help-block" ng-show="registerForm.Achternaam.$dirty && registerForm.Achternaam.$error.pattern">Je achternaam moet 2-30 letters zijn</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Geslacht</label>
        <div class="col-sm-8">
            <select ng-model=ctrlReg.geslacht
                    ng-init="ctrlReg.geslacht=''"
                    ng-options='select as geslachtkeuze for geslachtkeuze in ctrlReg.geslachtkeuze' id="geslachtkeuze"
                    name="geslachtkeuze" class="form-control"
                    required="required">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error' : registerForm.inputEmail3.$invalid && registerForm.inputEmail3.$touched}">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-8">
            <input type="email" class="form-control" id="inputEmail3" name="inputEmail3" placeholder="Email"
                   maxlength="40" ng-model=ctrlReg.newMember.inputemail13 ng-required="true">
            <span class="help-block" ng-show="registerForm.inputEmail3.$touched && registerForm.inputEmail3.$invalid ">Je email moet een @ bevatten</span>
        </div>
    </div>
    <div class="form-group">
        <label for="Geboortedatum" class="col-sm-2 control-label">Geboortedatum</label>
        <div class="col-sm-8">
            <input type="date" class="form-control" id="Geboortedatum" ng-model=ctrlReg.newMember.geboortedatum
                   ng-required="true">
        </div>
    </div>
    <div class="form-group">
        <label for="plaatsnamen" class="col-sm-2 control-label">Woonplaats</label>
        <div class="col-sm-8">
            <select ng-init="ctrlReg.newMember.plaatsnamen=' '" ;
                    ng-options="select as plaatsnamen for plaatsnamen in ctrlReg.plaatsnamen" id="plaatsnamen"
                    name="plaatsnamen"
                    class="form-control" ng-model=ctrlReg.newMember.plaatsnamen
                    required="required">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Over mij</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="overMij" ng-model=ctrlReg.newMember.overMij
                   placeholder="Jij en je paard in 1 zin" maxlength="150">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Mijn paarden</label>
        <div class="col-sm-8">
            <div class="divScroll">
                <input type="text" class="form-control" name="Paard_1" placeholder="Jouw paard"
                       maxlength="30"
                       ng-model=ctrlReg.newMember.paard1>
                <input ng-show="registerForm.Paard_1.$touched" type="text" class="form-control"
                       name="Paard_2" placeholder="Jouw paard" maxlength="30"
                       ng-model=ctrlReg.newMember.paard2>
                <input ng-show="registerForm.Paard_2.$touched" type="text" class="form-control"
                       name="Paard_3" placeholder="Jouw paard" maxlength="30"
                       ng-model=ctrlReg.newMember.paard3>
                <input ng-show="registerForm.Paard_3.$touched" type="text" class="form-control"
                       name="Paard_4" placeholder="Jouw paard" maxlength="30"
                       ng-model=ctrlReg.newMember.paard4 data-ng-show="ctrlReg.moreHorses2">
                <input ng-show="registerForm.Paard_4.$touched" type="text" class="form-control"
                       name="Paard_5" placeholder="Jouw paard" maxlength="30"
                       ng-model=ctrlReg.newMember.paard5>
                <input ng-show="registerForm.Paard_5.$touched" type="text" class="form-control"
                       name="Paard_6" placeholder="Jouw paard" maxlength="30"
                       ng-model=ctrlReg.newMember.paard6>
                <input ng-show="registerForm.Paard_6.$touched" type="text" class="form-control"
                       name="Paard_7" placeholder="Jouw paard" maxlength="30"
                       ng-model=ctrlReg.newMember.paard7>
                <input ng-show="registerForm.Paard_7.$touched" type="text" class="form-control"
                       name="Paard_8" placeholder="Jouw paard" maxlength="30"
                       ng-model=ctrlReg.newMember.paard8>
                <input ng-show="registerForm.Paard_8.$touched" type="text" class="form-control"
                       name="Paard_9" placeholder="Jouw paard" maxlength="30"
                       ng-model=ctrlReg.newMember.paard9>
                <input ng-show="registerForm.Paard_9.$touched" type="text" class="form-control"
                       name="Paard_10" placeholder="Jouw paard" maxlength="30"
                       ng-model=ctrlReg.newMember.paard10>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Sporten: </label>
        <div class="col-sm-8"
             style="padding-left: 15px; padding-bottom: 15px; padding-top: 5px; font-size: medium ">
            <input type="checkbox" id="Springen" ng-model=ctrlReg.newMember.springen> Springen
            <input type="checkbox" id="Dressuur" ng-model=ctrlReg.newMember.dressuur> Dressuur
            <input type="checkbox" id="Eventing" ng-model=ctrlReg.newMember.eventing> Eventing
            <input type="checkbox" id="Mennen" ng-model=ctrlReg.newMember.mennen> Mennen
            <input type="checkbox" id="Voltige" ng-model=ctrlReg.newMember.voltige> Voltige
            <input type="checkbox" id="Western" ng-model=ctrlReg.newMember.western> Western
            <input type="checkbox" id="Showrijden" ng-model=ctrlReg.newMember.showrijden> Showrijden
            <input type="checkbox" id="Buiten ritten" ng-model=ctrlReg.newMember.buitenritten> Buiten ritten
            <input type="checkbox" id="Fokken" ng-model=ctrlReg.newMember.fokken> Fokken
            <input type="checkbox" id="Natural_horsemanship" ng-model=ctrlReg.newMember.naturalHorsemanship> Natural
            Horsemanship
            <input type="checkbox" id="Polo" ng-model=ctrlReg.newMember.polo> Polo
            <input type="checkbox" id="Endurance" ng-model=ctrlReg.newMember.endurance> Endurance
            <input type="checkbox" id="Rensport" ng-model=ctrlReg.newMember.rensport> Rensport
            <input type="checkbox" id="Drafsport" ng-model=ctrlReg.newMember.drafsport> Drafsport
            <input type="checkbox" id="Ringsteken" ng-model=ctrlReg.newMember.ringsteken> Ringsteken
            <input type="checkbox" id="Rodeo" ng-model=ctrlReg.newMember.rodeo> Rodeo
            <input type="checkbox" id="Vossenjacht" ng-model=ctrlReg.newMember.vossenjacht> Vossenjacht
        </div>
    </div>
    <div class="form-group" ng-show="ctrlReg.newMember.springen">
        <label for="Spring_klasse" class="col-sm-2 control-label">Spring Klassen</label>
        <div class="col-sm-8">
            <select id="Spring_klasse" name="Spring_klasse" class="form-control" ng-model=ctrlHorse.sportKlasseSpringen>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlReg.newMember.dressuur">
        <label for="Dressuur_klasse" class="col-sm-2 control-label">Dressuur Klassen</label>
        <div class="col-sm-8">
            <select id="Dressuur_klasse" class="form-control" ng-model=ctrlHorse.sportKlasseDressuur>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlReg.newMember.eventing">
        <label for="Dressuur_klasse" class="col-sm-2 control-label">Eventing Klassen</label>
        <div class="col-sm-8">
            <select id="eventing_klasse" class="form-control" ng-model=ctrlHorse.sportKlasseEventing>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlReg.newMember.mennen">
        <label for="Mennen-klasse" class="col-sm-2 control-label">Mennen Klassen</label>
        <div class="col-sm-8">
            <select id="Mennen-klasse" class="form-control" ng-model=ctrlHorse.sportKlasseMennen>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="ctrlReg.newMember.voltige">
        <label for="Voltige_klasse" class="col-sm-2 control-label">Voltige Klassen</label>
        <div class="col-sm-8">
            <select id="Voltige_klasse" class="form-control" ng-model=ctrlHorse.sportKlasseVoltige>
                <option>Recreatief</option>
                <option>B</option>
                <option>L</option>
                <option>M</option>
                <option>Z</option>
                <option>ZZ</option>
                <option>Nationaal</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Geinteresseerd in: </label>
        <div class="col-sm-8"
             style="padding-left: 15px; padding-bottom: 15px; padding-top: 5px; font-size: medium ">
            <input type="checkbox" id="paardensport" ng-model=ctrlReg.newMember.wedstrijdsport> Wedstrijdsport
            <input type="checkbox" id="paarden_trainen" ng-model=ctrlReg.newMember.paardenTrainen> Paarden trainen
            <input type="checkbox" id="paarden_verzorgen" ng-model=ctrlReg.newMember.paardenVerzorgen> Paarden verzorgen
            <input type="checkbox" id="samen_trainen" ng-model=ctrlReg.newMember.samenTrainen> Samen trainen
            <input type="checkbox" id="rijden_locatie" ng-model=ctrlReg.newMember.rijdenLocatie> Buitenritten maken
            <input type="checkbox" id="in_en_verkoop" ng-model=ctrlReg.newMember.inEnVerkoop> Paarden fokken
            <input type="checkbox" id="Voorlichting" ng-model=ctrlReg.newMember.voorlichting> Voorlichten begeleiden
            ruiters
            <input type="checkbox" id="voeding_gezondheid" ng-model=ctrlReg.newMember.voedingGezondheid> Voeding en
            gezondheid
        </div>
    </div>
    <div class="form-group">
        <label for="Profielfoto" class="col-sm-2 control-label">Profielfoto (vierkant)</label>
        <div class="col-sm-8">
            <input type="file" id="Profielfoto" class="form-control">
            <br>
            <img id=profilepicture class="img-responsive"
                 src="app\CSS and content\Pictures\Basic profile pic\base_profile_pic.jpg"
                 alt=""
                 style="height:150px; width:150px"/>
        </div>
    </div>
    <div class="form-group">
        <label for="Password" class="col-sm-2 control-label">Paswoord</label>
        <div class="col-sm-8">
            <input type="password" class="form-control" id="Password" placeholder="Password" ng-required="true"
                   maxlength="25" ng-model=ctrlReg.newMember.password>
        </div>
    </div>
    <div class="form-group">
        <label for="ConfirmPassword" class="col-sm-2 control-label">Confirm </label>
        <div class="col-sm-8">
            <input type="password" class="form-control" id="ConfirmPassword" placeholder="Bevestig Password"
                   ng-required="true" maxlength="25">
        </div>
    </div>
    <div class="form-group" ng-show="!ctrlReg.showSuccessRegistration">
        <div class="col-sm-offset-2 col-sm-8">
            <button class="btn btn-primary ladda-button" ladda="ctrlReg.submitting" data-style="expand-right">
                <span class="ladda-label" ng-show="!ctrlReg.submitting">Meld je aan</span>
                <span class="ladda-label" ng-show="ctrlReg.submitting">Bezig met aanmelden</span>
            </button>
        </div>
    </div>
</form>


<ttr>registerForm.$error = {{registerForm.$error}}</ttr>
<div id="alert handling">
    <h2 class=" success" align="center" data-ng-show="ctrlReg.showSuccessRegistration"> Je hebt je succesvol
        aangemeld! </h2>
    <h2 class="error" align="center" data-ng-show="ctrlReg.showFailureRegistration"> Oeps, dat werkte
        niet probeer het nog eens! </h2>
</div>