<div class="container-fluid">
    <div class="row">
        <a href="#/horsebook">
            <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color: #bababa" align="center">
                <h3 class="headingbeauty">
                    Registreer een rit</h3>
                <img class="img-responsive" src="app/CSS%20and%20content/Pictures/member_page/rit.png"
                     alt="registreer een rit" align="center"/>
            </div>
        </a>
        <a href="#profielwijzigen">
            <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color:#c6c6c6" align="center">
                <h3 class="headingbeauty">
                    Registreer een event </h3>
                <img class="img-responsive" src="app/CSS%20and%20content/Pictures/member_page/event.png"
                     alt="registreer een rit" align="center"/>
            </div>
        </a>
    </div>
    <div class="row">
        <a href="#/vrienden">
            <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color:#c6c6c6" align="center">
                <h3 class="headingbeauty">
                    Beheer je vriendenlijst</h3>
                <img class="img-responsive" src="app/CSS%20and%20content/Pictures/member_page/friends.jpg"
                     alt="friends" align="center"/>
            </div>
        </a>
        <a href="#/blog">
            <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color:#bababa" align="center">
                <h3 class="headingbeauty">
                    Update je profiel</h3>
                <img class="img-responsive" src="app/CSS%20and%20content/Pictures/member_page/jockey.png"
                     alt="jockey" align="center"/>
            </div>
        </a>
    </div>
</div>

