<div class="container-fluid">
    <div class="row">
        <a href="#/horsebook">
            <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color: #bababa" align="center">
                <h3 class="headingbeauty">
                    Update je ritten of events</h3>
            </div>
        </a>
        <a href="#profielwijzigen">
            <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color:#c6c6c6" align="center">
                <h3 class="headingbeauty">
                    Update je profiel</h3>
            </div>
        </a>
    </div>
    <div class="row">
        <a href="#/vrienden">
            <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color:#c6c6c6" align="center">
                <h3 class="headingbeauty">
                    Beheer je vriendenlijst</h3>
            </div>
        </a>
        <a href="#/blog">
            <div class="col-xs-6 col-sm-6 col-lg-6" style="background-color:#bababa" align="center">
                <h3 class="headingbeauty">
                    Schrijf een blog </h3>
            </div>
        </a>
    </div>
</div>

