<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="container">
    <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-2">
                    <div class="headline">
                        <h4>Over jou</h4>
                    </div>

                    <table class='table table-bordered' name='memberOverviewTabel'>
                        <tr>
                            <td>Jouw profiel</td>
                            <td>update foto line</td>
                            <td>update jouw gegevens</td>
                        </tr>
                        <tr>
                            <td>paard 1</td>
                            <td>update foto line</td>
                            <td>update eventing passport</td>
                        </tr>
                        <tr>
                            <td>paard 2</td>
                            <td>update foto line</td>
                            <td>update eventing passport</td>
                        </tr>
                        <tr>
                            <td>Jij als ruiter</td>
                            <td>Forum x</td>
                            <td>Update y</td>
                        </tr>
                        <tr>
                            <td>Jij als ruiter</td>
                            <td>Forum a</td>
                            <td>Update b</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-2">
                    <div class="headline">
                        <h4>Vrienden updates</h4>
                    </div>
                    <table class='table table-bordered' name='memberOverviewTabel'>
                        <tr>
                            <td>Profiel update 1</td>
                            <td>updated foto line // gegevens</td>
                        </tr>
                        <tr>
                            <td>Profiel update 2</td>
                            <td>updated foto line // gegevens</td>
                        </tr>
                        <tr>
                            <td>paard update 1</td>
                            <td>updated foto line //update eventing passport</td>
                        </tr>
                        <tr>
                            <td>paard update 2</td>
                            <td>updated foto line //update eventing passport</td>
                        </tr>
                        <tr>
                            <td>Forum x</td>
                            <td>Update y</td>
                        </tr>
                        <tr>
                            <td>Forum a</td>
                            <td>Update b</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div><!--2nd col-->
    </div><!--offset wrapper col-->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="headline">
                <h4>Jouw Profiel</h4>
            </div>
        <member-overview-long-directive ruiters="ctrlMP.getProfile()"></member-overview-long-directive>

</div>
</div>
</body>
</html>